/node_modules
/public/hot
/public/storage
/bootstrap/cache/*
/storage/*.key
/storage/framework/*
/storage/logs/*
/storage/app/public/*
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
database/database.sqlite
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
